<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"  charset="UTF-8" />
    <title>注册</title>
</head>
<body>
    <div>
    <form method="POST">
        <label>用户名</label>
        <input type="text" name="username" />
        <br />
        <label>邮箱</label>
        <input type="text" name="email" />
        <br />
        <label>昵称</label>
        <input type="text" name="nickname" />
        <br />
        <label>密码</label>
        <input type="password" name="password" />
        <br />
        <label>确认密码</label>
        <input type="password" name="confirm_password" />
        <br />
        <input type="submit" value="注册" />
    </form>
    </div>
</body>
</html>
