<div class="jumbotron">
    <form method="POST">
        <label>用户名</label>
        <input class="form-control" type="text" name="username" />
        <br />
        <label>邮箱</label>
        <input class="form-control" type="text" name="email" />
        <br />
        <label>昵称</label>
        <input class="form-control" type="text" name="nickname" />
        <br />
        <label>密码</label>
        <input class="form-control" type="password" name="password" />
        <br />
        <label>确认密码</label>
        <input class="form-control" type="password" name="confirm_password" />
        <br />
        <button class="btn btn-primary" type="submit">注册</button>
    </form>
</div>
