<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>爱的故事</title>
    <link href="~/Contents/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Contents/js/bootstrap.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
    	        <div class="navbar-collapse collapse">
    	            <ul class="nav navbar-nav">
                    	<li><a href="~/">爱的故事</a></li>
                		<li><a href="/signup">注册</a></li>
                		<li><a href="/signin">登陆</a></li>
            		</ul>
        		</div>
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>我们的爱的故事</p>
        </footer>
    </div>
</body>
</html>
